<app-header></app-header>

<div class="container">
  <main class="main-layout">
    <ul id="users" class="user-list">
      @for (user of users; track user.id) {
      <li>
        <app-user
          [user]="user"
          [selected]="user.id === selectUserId"
          (select)="onSelectUser($event)"
        >
        </app-user>
      </li>
      }
    </ul>
    @if (selectUser) {
    <div class="task-card">
      <app-tasks [userId]="selectUser.id" [name]="selectUser.name"></app-tasks>
    </div>
    } @else {
    <p id="fallback" class="task-card-empty">No user selected</p>
    }
  </main>
</div>
<router-outlet />
