<div class="container">
<header>
  <app-header></app-header>
</header>
<main class="main-layout">
  <ul id="users"  class="user-list">
   @for (user of users; track user.id) {
    <li>
      <app-user
       [id]="user.id"
        [avatar]="user.avatar"
        [name]="user.name"
         (select)="onSelectUser($event)"
         >
        </app-user>
      </li>
   }
  </ul>
  @if (selectUser) {
    <div class="task-card">
      <app-tasks [name]="selectUser.name"></app-tasks>
    </div>
  } @else {
    <p id="fallback"class="task-card-empty">No user selected</p>
  }
</main>
</div>
<router-outlet />

